<ruby>
framework.db.hosts.each do |host|
  host.services.each do |service|
    if service.port == 500
      iker_cmd = "python iker.py --fullalgs --clientids groupnames.dic --output ~/msf-#{framework.db.workspace.name}-iker-output-#{host.address}-#{service.port}.xml #{host.address} | tee ~/msf-#{framework.db.workspace.name}-iker-output-#{host.address}-#{service.port}.txt"
      print "\n\n"
      print_status "Running iker.py on #{host.address}:#{service.port}"
      print_status "#{iker_cmd}"
      run = system iker_cmd
    end
  end
end
</ruby>
