<ruby>
framework.db.hosts.each do |host|
  host.services.each do |service|
    if service.port == 139
      samrdump_cmd = "python /usr/share/doc/python-impacket/examples/samrdump.py #{host.address} #{service.port}/SMB"
      print "\n\n"
      print_status "Running Impacket's samrdump.py on #{host.address}:#{service.port}"
      print_status "#{samrdump_cmd}"
      run = system samrdump_cmd
    end
  end
end
</ruby>

<ruby>
framework.db.hosts.each do |host|
  host.services.each do |service|
    if service.port == 445
      samrdump_cmd = "python /usr/share/doc/python-impacket/examples/samrdump.py #{host.address} #{service.port}/SMB"
      print "\n\n"
      print_status "Running Impacket's samrdump.py on #{host.address}:#{service.port}"
      print_status "#{samrdump_cmd}"
      run = system samrdump_cmd
    end
  end
end
</ruby>
