use auxiliary/scanner/db2/db2_version

<ruby>
framework.db.hosts.each do |host|
  host.services.each do |service|
    if service.port == 50000
      self.run_single("set RHOSTS #{host.address}")
      self.run_single("set RPORT #{service.port}")
      self.run_single("run")
    end
  end
end
</ruby>
