use auxiliary/scanner/http/goahead_traversal
set SSL false

<ruby>
framework.db.hosts.each do |host|
  host.services.each do |service|
    if service.info =~ /goahead/i && service.name == "http" || service.info =~ /goahead/i &&  service.name == "www"
      self.run_single("set RHOSTS #{host.address}")
      self.run_single("set RPORT #{service.port}")
      self.run_single("run")
    end
  end
end
</ruby>

set SSL true

<ruby>
framework.db.hosts.each do |host|
  host.services.each do |service|
    if service.info =~ /goahead/i && service.name == "https" || service.info =~ /goahead/i && service.name == "ssl/http"
      self.run_single("set RHOSTS #{host.address}")
      self.run_single("set RPORT #{service.port}")
      self.run_single("run")
    end
  end
end
</ruby>
