use auxiliary/scanner/http/http_version
set SSL false

<ruby>
framework.db.hosts.each do |host|
  host.services.each do |service|
    if service.port != 443 and service.proto == "tcp" 
      self.run_single("set RHOSTS #{host.address}")
      self.run_single("set RPORT #{service.port}")
      self.run_single("run")
    end
  end
end
</ruby>

set SSL true

<ruby>
framework.db.hosts.each do |host|
  host.services.each do |service|
    if service.name != "www" and service.proto == "tcp" or service.name != "http" and service.proto == "tcp" 
      self.run_single("set RHOSTS #{host.address}")
      self.run_single("set RPORT #{service.port}")
      self.run_single("run")
    end
  end
end
</ruby>
