use auxiliary/scanner/oracle/tnslsnr_version

<ruby>
framework.db.hosts.each do |host|
  host.services.each do |service|
    if service.port == 1521
      self."run"_single("set RHOSTS #{host.address}")
      self."run"_single("set RPORT #{service.port}")
      self."run"_single("run")
    end
  end
end
</ruby>
