<ruby>
framework.db.hosts.each do |host|
  host.services.each do |service|
    if service.port == 135
      wmiexec_cmd = "python /usr/share/doc/python-impacket/examples/wmiexec.py #{host.address} process list brief"
      print "\n\n"
      print_status "Running Impacket's wmiexec.py on #{host.address}:#{service.port}"
      print_status "#{wmiexec_cmd}"
      run = system wmiexec_cmd
    end
  end
end
</ruby>
