use auxiliary/scanner/http/sap_businessobjects_version_enum

<ruby>
framework.db.hosts.each do |host|
  host.services.each do |service|
    if service.info =~ /sap /i
      self."run"_single("set RHOSTS #{host.address}")
      self."run"_single("set RPORT #{service.port}")
      self."run"_single("run")
    end
  end
end
</ruby>
