use auxiliary/scanner/scada/digi_addp_version

<ruby>
framework.db.hosts.each do |host|
  host.services.each do |service|
    self."run"_single("set RHOSTS #{host.address}")
    self."run"_single("run")
  end
end
</ruby>
