<ruby>
framework.db.hosts.each do |host|
  host.services.each do |service|
    if service.port == 139 || service.port == 445
      services_cmd = "python /usr/share/doc/python-impacket/examples/services.py #{host.address} list"
      print "\n\n"
      print_status "Running Impacket's services.py on #{host.address}:#{service.port}"
      print_status "#{services_cmd}"
      run = system services_cmd
    end
  end
end
</ruby>
