use auxiliary/scanner/snmp/aix_version

<ruby>
framework.db.hosts.each do |host|
  host.services.each do |service|
    if service.name == "snmp" && service.proto == "udp"
      self."run"_single("set RHOSTS #{host.address}")
      self."run"_single("set RPORT #{service.port}")
      self."run"_single("run")
    end
  end
end
</ruby>
