use auxiliary/scanner/vxworks/wdbrpc_version
set RPORT 17185

<ruby>
framework.db.hosts.each do |host|
  host.services.each do |service|
    self."run"_single("set RHOSTS #{host.address}")
    self."run"_single("run")
  end
end
</ruby>
